<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/spring/spring-core-4.0.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring/spring-aop-4.0.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring/commons-logging.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring/spring-expression-4.0.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring/spring-context-4.0.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring/spring-beans-4.0.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/spring/commons-collections-3.2.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>